{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "eshop",
  "copy": true,
  "targets": {
    "eshop": {
      "author": "gs",
      "time": "20170302 13:16:07",
      "versions": {
        "MPHotpatchSDK": "2.6.1",
        "APSecurityUtility": "1.2.0",
        "MPDataCenter": "2.3.0",
        "SecurityGuardSDK": "5.0.71",
        "APProtocolBuffers": "1.0.2",
        "MPRemoteLogging": "2.2.4",
        "MPSyncService": "1.0.0",
        "APOpenSSL": "1.0.0",
        "MPHttpClient": "2.2.1",
        "MPAnalysis": "1.0.0",
        "mPaas": "2.2.3"
      },
      "frameworks": [
        "MPHotpatchSDK.framework",
        "APSecurityUtility.framework",
        "MPDataCenter.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APProtocolBuffers.framework",
        "MPRemoteLogging.framework",
        "APLongLinkService.framework",
        "APOpenSSL.framework",
        "MPHttpClient.framework",
        "MPAnalysis.framework",
        "mPaas.framework"
      ],
      "resources": [
        "JSHotpatchSDK.bundle",
        "DynamicDeployment.bundle",
        "APMobileNetwork.bundle"
      ]
    }
  },
  "recent": "eshop"
}
